#root {
  max-width: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color:  #F2BE22;
  border-radius: 5px;  
} 

body {
  font-family: 'Nunito', sans-serif !important;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: linear-gradient(to top, #F29727 0%, #F24C3D 100%);
} 

.table-dark {
  border: 1px solid #000;
  border-radius: 5px;
} 

th, td {
  padding: 8px;
  border: 1px solid #000;
}
